.section {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  border-radius: 12px;
  padding: 16px;
  min-width: 220px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.cardContent {
  flex: 1;
  word-wrap: break-word;
  min-width: 0;
  font-family: var(--font-main);
}

.cardActions {
  flex-shrink: 0;
  margin-left: 12px;
}

.cardActions button {
  margin-left: 8px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.formWrapper {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  min-width: 300px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.sectionButtons {
  display: flex;
  gap: 8px;
}

.sectionButton {
  padding: 0.75rem;
}
