.section {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: grab;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  margin-left: 8px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.text {
  max-width: 100%;
  word-wrap: break-word; /* перенос слов */
  white-space: pre-wrap; /* перенос строк и сохранение отступов */
  background: white;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.formOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.saveBtn {
  align-self: flex-end;
  padding: 8px 16px;
  border: none;
  background-color: #258300;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sectionButtons {
  display: flex;
  gap: 8px;
}

.sectionButton {
  padding: 0.75rem;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}
