.section {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: grab;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillsActions {
  display: flex;
  gap: 8px;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 16px 0;
}

.skillPill {
  font-family: var(--font-main);
  background-color: var(--button-hover-color);
  border-radius: 20px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.removePill {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skillsEditList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.sectionButtons {
  display: flex;
  gap: 8px;
}

.sectionButton {
  padding: 0.75rem;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}
